/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-form-field-type-mat-date-range-input .mat-form-field-infix{
	display:flex !important;
	align-items: center !important;
}

.mat-paginator-container{
	min-height:62px;
}